<div class="user-panel" data-aos="fade-in">

  <div class="user-card">
    <div class="panel-header">
      <h2><i class="ri-user-settings-line"></i> User Management</h2>
    </div>

    <div class="table-container">

      <table class="user-table">

        <thead>
          <tr>
            <th>Sr.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let user of users; let i = index">

            <td><span class="id-badge">{{i+1}}</span></td>

            <td class="name-text">
               {{user.fname}}
            </td>
            <td class="name-text">
              {{user.lname}}
            </td>

            <td class="email-text">{{user.email}}</td>

          </tr>

        </tbody>

      </table>

    </div>
  </div>

</div>