<div class="profile-page">

  <!-- PROFILE HEADER -->
  <div class="profile-header">
    <div class="icon">
      <i class="ri-user-3-line"></i>
    </div>

    <div class="profile-info">
      <h3>{{user.fname}} {{user.lname}}</h3>
      <p>Email: {{user.email}}</p>
      <!-- <p>Phone: {{user.contact || 'N/A'}}</p> -->
    </div>
  </div>

  <!-- DASHBOARD -->
  <div class="dashboard">

    <a (click)="goTo('/myorders')" class="card-box text-decoration-none">
      <i class="ri-shopping-bag-3-line"></i>
      <div class="card-title">My Orders</div>
    </a>

    <a (click)="goTo('/wishlist')" class="card-box text-decoration-none">
      <i class="ri-heart-line"></i>
      <div class="card-title">My Wishlist</div>
    </a>

    <a (click)="goTo('/changepassword')" class="card-box text-decoration-none">
      <i class="ri-lock-password-line"></i>
      <div class="card-title">Change Password</div>
    </a>

    <a (click)="goTo('/editprofile')" class="card-box text-decoration-none">
      <i class="ri-edit-line"></i>
      <div class="card-title">Edit Profile</div>
    </a>

  </div>

  <!-- LOGOUT -->
  <div class="logout-btn">
    <button (click)="logout()">Logout</button>
  </div>

</div>