<div class="about-hero d-flex align-items-center justify-content-center text-center">
                <div class="row justify-content-center">
                    <div class="col-6" data-aos="fade-up" data-aos-duration="500">
                        <div class="text-center">
                            <nav>
                                <ol class="breadcrumb align-items-center justify-content-center gap-1" data-aos="fade-up" data-aos-duration="500">
                                    <li class="breadcrumb-item small text-white"><a href="index.php" class="link-secondary">HOME</a></li>
                                        <li class="small">/</li>
                                    <li class="breadcrumb-item small text-white"></li> <a href="about.php" class="link-secondary">ABOUT US</a>
                                </ol>
                            </nav>
                            <h1 class="fw-bold display-1 text-white" data-aos="fade-up" data-aos-duration="600">About Us</h1>
                            <p class="lead text-white">Turning houses into homes with thoughtfully designed furniture.
                                Made to reflect your style, your comfort, and your way of living. Every detail is refined — because luxury lives in the details.</p>
                        </div>
                    </div>
                </div>
            </div>

        <!-- CEO -->
         <div class="ceo">
        <div class="py-5">
            <div class="container py-4">
                <div class="row align-items-center g-5 g-md-5">
                    <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="500">
                        <img src="/images/f1.jpg" alt="CEO" class="img-fluid ceo-img">
                    </div>
                    <div class="col-lg-6 col-12">
                        <h1 class="fw-bold pb-3 display-4" data-aos="fade-up" data-aos-duration="500">Crafting Spaces That Feel Like Home</h1>

                        <span class="bg-success px-5 d-flex pb-1 justify-content-center col-3"></span>

                        <p class="text-secondary-emphasis mt-4 lead" data-aos="fade-up" data-aos-duration="600">
                                A home should be more than just a place to live —
                                it should be a reflection of who you are, what you value,
                                and the comfort you desire after a long day.
                                Our designs blend modern simplicity with warm, natural textures,
                                bringing harmony, elegance, and a calming presence into your space.

                                Every curve, every grain of wood, and every material we choose
                                is thoughtfully selected to create an atmosphere that feels
                                luxurious yet inviting — soft in tone, rich in character.
                                From handcrafted furniture to curated décor,
                                we balance function with beauty to elevate everyday living
                                into a seamless experience of comfort and style.
                        </p>
                        <!-- <div class="mt-5">
                            <h5 class="fw-bold" data-aos="fade-up" data-aos-duration="700">Ishita Verma</h5>
                            <p class="mb-0" data-aos="fade-up" data-aos-duration="700">Senior Space Designer</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container py-4">
                <div class="row align-items-center g-5 g-md-5">
                    <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="600">
                        <h1 class="fw-bold pb-3 display-4" data-aos="fade-up" data-aos-duration="500">Where Comfort Meets Craftsmanship.</h1>

                        <span class="bg-success px-5 d-flex pb-1 justify-content-center col-3"></span>

                        <p class="lead mt-4">
                            Rooted in timeless aesthetics, we create furniture that blends natural textures, elegant curves, and handcrafted detail. Every piece is thoughtfully shaped to bring warmth, calm, and character into your home — not just to fill a space, but to define it.
Experience furniture that feels personal, grounded, and beautifully alive in every corner.                        
                        </p>
                    </div>
                    <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="700">
                        <img src="/images/f2.png" alt="CEO" class="img-fluid ceo-img">
                    </div>

                    
                </div>
            </div>
        </div>
</div>

        <!-- Meet Our Team -->
         <div class="mot">
        <div class="py-5">
            <div class="container py-4">
                <div data-aos="fade-up" data-aos-duration="500" class="row mb-5">
                    <div class="col-12">
                        <div class="text-center">
                            <h1 class="fw-bold display-5">Meet Our Team</h1>
                            <p class="text-muted mb-3">Crafting comfort, style, and timeless spaces with passion and expertise</p>
                            <span class="bg-success px-5 mx-auto d-flex pb-1 justify-content-center col-1"></span>
                        </div>
                    </div>
                </div>

                <div class="row g-5">
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="600">
                        <div class="card bg-transparent border-0 rounded-0 text-center">
                            <img src="images/profile-1.jpg" class="card-img-top rounded-0" alt="team">
                            <div class="card-body">
                                <h5 class="card-title fw-bold rounded">Riya Sharma</h5>
                                <p class="card-text mb-0">Interior Design Lead</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-center gap-3">
                                <a href="#"><i class="ri-facebook-circle-fill ri-lg"></i></a> <a href="#"><i class="ri-twitter-fill ri-lg"></i></a> <a href="#"><i class="ri-linkedin-box-fill ri-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="700">
                        <div class="card bg-transparent border-0 rounded-0 text-center">
                            <img src="/images/profile-2.jpg" class="card-img-top rounded-0" alt="team">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Aarav Mehta</h5>
                                <p class="card-text mb-0">Founder & Creative Director</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-center gap-3">
                                <a href="#"><i class="ri-facebook-circle-fill ri-lg"></i></a> <a href="#"><i class="ri-twitter-fill ri-lg"></i></a> <a href="#"><i class="ri-linkedin-box-fill ri-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="800">
                        <div class="card bg-transparent border-0 rounded-0 text-center">
                            <img src="/images/profile-3.jpg" class="card-img-top rounded-0" alt="team">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Kritee Malhotra</h5>
                                <p class="card-text mb-0">Furniture Design Specialist</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-center gap-3">
                                <a href="#"><i class="ri-facebook-circle-fill ri-lg"></i></a> <a href="#"><i class="ri-twitter-fill ri-lg"></i></a> <a href="#"><i class="ri-linkedin-box-fill ri-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="900">
                        <div class="card bg-transparent border-0 rounded-0 text-center">
                            <img src="/images/profile-4.jpg" class="card-img-top rounded-0" alt="team">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Ananya Kapoor</h5>
                                <p class="card-text mb-0">Marketing & Brand Manager</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-center gap-3">
                                <a href="#"><i class="ri-facebook-circle-fill ri-lg"></i></a> <a href="#"><i class="ri-twitter-fill ri-lg"></i></a> <a href="#"><i class="ri-linkedin-box-fill ri-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Best Brands Only -->
        <div class="bg-success-subtle py-5">
            <div class="container py-4">
                <div data-aos="fade-up" data-aos-duration="500" class="row mb-5">
                    <div class="col-12">
                        <div class="text-center">
                            <h1 class="fw-bold display-5">Best Brands Only</h1>
                            <p class="text-muted mb-3">Premium furniture brands for your dream space</p>
                            <span class="bg-success px-5 mx-auto d-flex pb-1 justify-content-center col-1"></span>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center g-1">
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="500">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand1.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="600">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand2.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="700">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand3.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="800">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand4.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="900">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand5.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand6.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1100">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand7.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1200">
                        <div class="bg-dark d-flex align-items-center justify-content-center box">
                            <img src="/images/brand8.png" alt="brands" class="img-fluid w-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>