<app-hero></app-hero>

<!-- some benifits -->
<div class="bg-success text-white py-5">
    <div class="container py-4">
        <div class="row g-4">
            <div class="col-lg-3 col-12" data-aos="fade-up" data-aos-duration="600">
                <div class="benefits-box">
                    <i class="ri-thumb-up-line benefits-icon"></i>
                    <div>
                        <h5>Superior Quality</h5>
                        <p>We use premium finishes and skilled craftsmanship to provide furniture that lasts for years
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12" data-aos="fade-up" data-aos-duration="600">
                <div class="benefits-box">
                    <i class="ri-thumb-up-line benefits-icon"></i>
                    <div>
                        <h5>Eco-Friendly Wood</h5>
                        <p>Built with sustainable wood to reduce environmental impact while maintaining premium quality
                            and style.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12" data-aos="fade-up" data-aos-duration="600">
                <div class="benefits-box">
                    <i class="ri-thumb-up-line benefits-icon"></i>
                    <div>
                        <h5>Custom Creations</h5>
                        <p>Custom-crafted pieces designed to fit your space, lifestyle, and aesthetic with precision.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12" data-aos="fade-up" data-aos-duration="600">
                <div class="benefits-box">
                    <i class="ri-thumb-up-line benefits-icon"></i>
                    <div>
                        <h5>Crafted With Love</h5>
                        <p>Every piece is lovingly handcrafted with passion, precision, and care to bring warmth into
                            your home.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-category></app-category>

<!-- New Arrivals -->
<div class="na">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between mb-5">
            <div class="col-auto">
                <h2 class="fw-bold mb-0" data-aos="fade-right" data-aos-duration="500">New Arrivals</h2>
            </div>
            <div class="col-auto"><a routerLink="/product" class="btn btn-outline-success btn-lg border-2 rounded-0"
                    data-aos="fade-left" data-aos-duration="600">VIEW ALL</a></div>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="600">
                <div class="card bg-transparent border-0 rounded-0 zoom-img">
                    <a href="#" class="overflow-hidden position-relative">
                        <img src="/images/product-1.png" class="card-img-top rounded-0" alt="products"> <span
                            class="text-bg-success rounded-0 px-2 py-1 m-3 small position-absolute start-0">SALE!</span>
                    </a>
                    <div class="card-body px-0">
                        <a href="#">
                            <h5 class="card-title">Minimal Wave Accent Shelf</h5>
                        </a>
                        <!-- <p class="card-text">$79.00 <del class="text-secondary small">$99.00</del></p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="700">
                <div class="card bg-transparent border-0 rounded-0 zoom-img">
                    <a href="#" class="overflow-hidden position-relative">
                        <img src="/images/product-2.png" class="card-img-top rounded-0" alt="products"> <span
                            class="text-bg-success rounded-0 px-2 py-1 m-3 small position-absolute start-0">SALE!</span>
                    </a>
                    <div class="card-body px-0">
                        <a href="#">
                            <h5 class="card-title ">Timeless Glow Candle Stand</h5>
                        </a>
                        <!-- <p class="card-text">$65.00 <del class="text-secondary small">$85.00</del></p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="800">
                <div class="card bg-transparent border-0 rounded-0 zoom-img">
                    <a href="#" class="overflow-hidden position-relative">
                        <img src="images/product-3.png" class="card-img-top rounded-0" alt="products"> <span
                            class="text-bg-success rounded-0 px-2 py-1 m-3 small position-absolute start-0">SALE!</span>
                    </a>
                    <div class="card-body px-0">
                        <a href="#">
                            <h5 class="card-title ">Cozy Cloud Lounge Chair</h5>
                        </a>
                        <!-- <p class="card-text">$28.00 <del class="text-secondary small">$35.00</del></p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="900">
                <div class="card bg-transparent border-0 rounded-0 zoom-img">
                    <a href="#" class="overflow-hidden position-relative">
                        <img src="/images/product-4.png" class="card-img-top rounded-0" alt="products"> <span
                            class="text-bg-success rounded-0 px-2 py-1 m-3 small position-absolute start-0">SALE!</span>
                    </a>
                    <div class="card-body px-0">
                        <a href="#">
                            <h5 class="card-title ">Natural Pampas Vase Set</h5>
                        </a>
                        <!-- <p class="card-text">$48.00 <del class="text-secondary small">$58.00</del></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 50% off -->
<div class="bg-off py-5">
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-12">
                <div class="mb-5">
                    <!-- <h5 class="text-success text-uppercase mb-4">Transform Your Space</h5> -->
                    <h1 class="fw-bold display-2 pb-2" data-aos="fade-right" data-aos-duration="500">Up to <span
                            class="text-uppercase bg-dark text-white px-3">fifty% Off</span> Stylish Interior Decor</h1>
                    <p class="text-secondary-wmphasis lead" data-aos="fade-right" data-aos-duration="600">Discover
                        handcrafted furniture and décor pieces that blend premium quality, natural textures, and modern
                        design—creating warm and inspiring spaces you’ll love coming home to.</p>
                </div>
                <a href="#" class="btn btn-success btn-lg rounded-0 px-5 py-3 fw-bold" data-aos="fade-right"
                    data-aos-duration="600">DETAILS</a>
            </div>
        </div>
    </div>
</div>

<!-- recommended-product -->
<div class="bg-success py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="bg-white p-4">
                    <div class="row align-items-center g-4 g-md-5">
                        <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="600">
                            <div class="card border-0 rounded-0">
                                <img src="/images/sofa3.webp" class="card-img rounded-0" alt=".recommended">
                                <div class="card-img-overlay p-4">
                                    <div class="row justify-content-between g-0 h-100">
                                        <!-- <div class="col-auto align-self-end">
                                                    <div>
                                                        <h5 class="card1 fw-bold mb-1">Amazing Craftsmanship & Comfort!</h5>
                                                        <p class="card1">Absolutely love it!</p>
                                                    </div>
                                                </div> -->
                                        <!-- <div class="col-auto">
                                                    <div class="bg-white fw-bold px-4 py-3 fs-5">
                                                        $23
                                                    </div>
                                                </div> -->
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12" data-aos="fade-up" data-aos-duration="700">
                            <div
                                class="d-flex align-items-center justify-content-center justify-content-md-start gap-3 mb-4">
                                <i class="ri-star-fill ri-lg text-warning"></i> <i
                                    class="ri-star-fill ri-lg text-warning"></i> <i
                                    class="ri-star-fill ri-lg text-warning"></i> <i
                                    class="ri-star-fill ri-lg text-warning"></i>
                                <i class="ri-star-fill ri-lg text-warning"></i>
                            </div>
                            <div class="text-center text-md-start mb-5">
                                <h1 class="fw-bold pb-2 text-success">
                                    Good Quality! <br>
                                    Highly recommended!
                                </h1>
                                <p class="lead pe-lg-5">The quality is outstanding — the materials feel luxurious and
                                    the design truly elevates my living space. Comfort, durability, and style all in one
                                    piece. Highly satisfied and definitely buying more from here!</p>
                            </div>
                            <div
                                class="d-md-flex d-block align-items-center justify-content-center justify-content-md-start gap-3 text-center text-md-start">
                                <img src="/images/profile-1.jpg" alt="" class="img-fluid rounded-circle profile-img">
                                <div class="pt-2 pt-md-0">
                                    <h5 class="fw-bold mb-1">Aarohi Mehta</h5>
                                    <p class="mb-0">Architect & Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Latest News -->
<div class="ln">
    <div>
        <div class="container py-4">
            <div data-aos="fade-up" data-aos-duration="500" class="row mb-5">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="fw-bold display-5">Latest News</h1>
                        <p class="text-muted mb-3">Stay updated with the latest tips, trends, and ideas to style your
                            home beautifully.</p>
                        <span class="bg-success px-5 mx-auto d-flex pb-1 justify-content-center col-1"></span>
                    </div>
                </div>
            </div>

            <div class="row g-5">
                <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="600">
                    <div class="card border-0 rounded-0">
                        <img src="/images/sofa1.webp" class="card-img-top rounded-0" alt="news">
                        <div class="card-body p-4">
                            <a href="#">Indoor Sofa Design</a> <a href="#"> </a>
                            <p class="card-text text-secondary">Discover inspiring modern sofa designs that blend luxury
                                and comfort, perfect for enhancing your living room experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="700">
                    <div class="card border-0 rounded-0">
                        <img src="/images/outdoor1.jpg" class="card-img-top rounded-0" alt="news">
                        <div class="card-body p-4">
                            <a href="#">Outdoor Furniture</a> <a href="#"> </a>
                            <p class="card-text text-secondary">Explore stylish outdoor furniture trends that bring a
                                cozy and natural feel to your backyard or balcony space.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="800">
                    <div class="card border-0 rounded-0">
                        <img src="/images/office1.webp" class="card-img-top rounded-0" alt="news">
                        <div class="card-body p-4">
                            <a href="#">Office Furniture</a> <a href="#"> </a>
                            <p class="card-text text-secondary">Learn how ergonomic and stylish furniture can transform
                                your workspace and boost daily productivity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>