.product-details{
padding:60px 0;
}

.product-img{
width:100%;
border-radius:10px;
}

.price{
color:#b88e2f;
margin:20px 0;
font-weight:600;
}

.desc{
margin:20px 0;
line-height:1.6;
}

.buy-btn{
background:#b88e2f;
color:white;
padding:10px 25px;
border:none;
border-radius:5px;
cursor:pointer;
}
.card-img-overlay{
pointer-events:none;
}