<!-- Slick CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<!-- AOS CSS -->
<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
<!-- Crasual -->
<div class="main-slider-homepage">
    <div class="one-slider">

        <!-- SLIDE 1 -->
        <div class="item slider-image-1 position-relative">
            <img src="/images/s2.png" class="w-100">

            <!-- LEFT TEXT BOX -->
            <div class="slider-text-box">
                <h1>Comfort <br> For Your <br> Dream Home</h1>
                <p>
                    Discover handcrafted furniture that blends  
                    elegance, comfort and durability — designed  
                    to elevate every corner of your home.
                </p>
            </div>
        </div>

        <!-- SLIDE 2 -->
            <div class="item slider-image-2 position-relative">
                <img src="/images/s6.jpg" class="w-100">

                <div class="slider-text-box">
                    <h1>Elevate Your <br> Living Space</h1>
                    <p>
                        Experience modern comfort with pieces  
                        designed to bring calm and elegance  
                        to your home.
                    </p>
                </div>
            </div>


        <!-- SLIDE 3 -->
            <div class="item slider-image-4 position-relative">
                <img src="/images/s5.jpg" class="w-100">

                <div class="slider-text-box slider-3-left">
                    <h1>Timeless <br> Craftsmanship</h1>
                    <p>
                        Experience furniture built with care,  
                        precision, and lasting comfort — made  
                        to complement every modern space.
                    </p>
                </div>
            </div>


    </div>
</div>